.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.header__left {
    display: flex;
    align-items: center;
}

.header__middle {
   display: flex;
   flex: 0.7;
   align-items: center;
   background-color: whitesmoke;
   padding: 10px;
   border-radius: 5px;
}

.header__middle > .MuiSvgIcon-root {
    color: grey;
}

.header__middle > input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: 0;   /* remove border line when we focused in input */
    background-color: transparent;
}

.header__left > img {
   height: 80px;
   object-fit: contain;
   margin-left: 5px;
}

.header__right{
    display: flex;
    align-items: center;
    padding-right: 20px;
}